{% extends 'base_admin.html.twig' %}

{% block title %}New ChallengeParticipation{% endblock %}

{% block body %}
    <h1>Create new ChallengeParticipation</h1>

    {{ include('challenge/admin/challenge_participation/_form.html.twig') }}

    <a href="{{ path('challenge_admin_challenge_participation_index') }}">back to list</a>
{% endblock %}
