{% if challenge.state == constant('App\\Entity\\Challenge\\Challenge::PARTICIPATION') %}
    {% include "challenge/challenge/_includes/_content_participation.html.twig" %}
    <div class="b-example-divider"></div>
{% elseif challenge.state == constant('App\\Entity\\Challenge\\Challenge::PUBLISHED') %}
    {% include "challenge/challenge/_includes/_content_rules.html.twig" %}
{% endif %}