{% extends 'base.html.twig' %}

{% block title %}Hello ChallengeController!{% endblock %}

{% block body %}
<div class="b-example-divider"></div>
<div class="container">
    <div class="row">
    {% for challenge in challenges %}
        {% set challengeContent = challenge.ChallengeTranslations|first %}
        <div class="col-md-6">
            <div class="card text-center bg-dark">
                <div class="card-header">
                    {{ challengeContent.title }}
                </div>
                <div class="card-body">
                    <p class="card-text">{{ challengeContent.description }}</p>
                    <a href="{{ path('challenge_show', {'id': challenge.id}) }}" class="btn btn-primary">{{ 'challenge.index.cta_'~ challenge.state|trans }}</a>
                </div>
                <div class="card-footer text-muted">
                    2 days ago
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
</div>
<div class="b-example-divider"></div>
{% endblock %}
