{% extends 'base.html.twig' %}

{% block title %}Hello ChallengeController!{% endblock %}

{% block body %}
<div class="b-example-divider"></div>

{% include "challenge/challenge/_challenge_show_header.html.twig" %}

{% include "challenge/challenge/_challenge_content.html.twig" %}

{% endblock %}