@import "~bootstrap/scss/bootstrap";
@import "~alertifyjs/build/css/alertify.css";
@import url('https://fonts.googleapis.com/css2?family=Puritan&display=swap');


body {
    min-height: 100vh;
    min-height: -webkit-fill-available;
  }
  
  html {
    height: -webkit-fill-available;
  }
  
  main {
    display: flex;
    flex-wrap: nowrap;
    height: 100vh;
    height: -webkit-fill-available;
    max-height: 100vh;
    overflow-x: auto;
    overflow-y: hidden;
  }
